.caSideBar {
  background-color: white;
  width: 25%;
}
.caSideBar .option {
  display: flex;
  align-items: center;
  position: relative;
  right: 13px;
  margin-top: 30px;
}
.caSideBar .option label {
  margin-left: 10px;
}

.post_sign_up {
  text-align: center;
}
.post_sign_up h1 {
  color: #1D1272;
}

.pharmacyInformation main {
  width: 80%;
}
.pharmacyInformation main table {
  width: 100%;
}
.pharmacyInformation main table tr td {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
.pharmacyInformation main .brokenDivider {
  padding-top: 20px;
}
.pharmacyInformation main button {
  width: 100%;
  padding: 18px;
  border-style: none;
  border-style: solid;
  border-color: #1D1272;
  border-width: 2px;
}
.pharmacyInformation main h2 {
  color: #1D1272;
}

.documentation main {
  width: 80%;
}
.documentation main table tr td {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
.documentation main .brokenDivider {
  padding-top: 20px;
}
.documentation main .styles_fileSelector__QM7r7 {
  padding: 6px;
}
.documentation main footer {
  width: 100%;
}
.documentation main footer table {
  width: 100%;
}
.documentation main footer table button {
  width: 100%;
  padding: 18px;
  border-style: none;
  border-style: solid;
  border-color: #1D1272;
  border-width: 2px;
}
.documentation main h2 {
  color: #1D1272;
}

.bankDetails main {
  width: 80%;
}
.bankDetails main table {
  width: 100%;
}
.bankDetails main table tr td {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
.bankDetails main .brokenDivider {
  padding-top: 20px;
}
.bankDetails main button {
  width: 100%;
  padding: 18px;
  border-style: none;
  border-style: solid;
  border-color: #1D1272;
  border-width: 2px;
}
.bankDetails main h2 {
  color: #1D1272;
}

.summary main {
  width: 60%;
}
.summary main hr {
  width: 100%;
  color: rgba(29, 18, 114, 0.1490196078);
}
.summary main table {
  width: 100%;
}
.summary main table tr td {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
.summary main .brokenDivider {
  padding-top: 20px;
}
.summary main button {
  width: 100%;
  padding: 18px;
  border-style: none;
  border-style: solid;
  border-color: #1D1272;
  border-width: 2px;
}
.summary main h2 {
  color: #1D1272;
}

.errorMessage {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(129, 23, 23);
  color: white;
  font-size: 14px;
}
.errorMessage p {
  margin: 0px;
}
.errorMessage div {
  cursor: pointer;
}

.caPagesContainer .body {
  width: 100%;
  padding: 30px;
  height: 100%;
  overflow-y: scroll;
}

.address {
  position: relative;
}

.locationResults {
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  z-index: 500;
}
.locationResults p {
  background-color: white;
  margin: 0px;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
}
.locationResults p:hover {
  background-color: #1D1272;
  color: white;
}

.loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader p {
  font-size: 20px;
  color: #1D1272;
  font-weight: bold;
}/*# sourceMappingURL=styles.module.css.map */