@import "../../../../styles/_colors.scss";

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 20px;
    margin-left: 20px
  }
}

.outline {
  @include button;
  padding: 10px;
  border: 2px solid $primary;
  color: $primary;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  
  &:hover {
    background-color: $primary;
    color: white;

    rect {
      fill: white;
    }
  }
}

.solid {
  @include button;
  padding: 18px;
  background-color: $primary;
  color: white;
  border-style: none;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: $primaryDark;
    color: white;
  }

  rect {
    fill: white;
  }
}
