@import "../../../../styles/_colors.scss";

.labeledTextInput {

    label {

        font-size: 14px;
        color: $labelGrey;
    }

    .separator {
        height: 2px;
    }

}

.labeledTextInput:focus-within > label {
    color: $primary;
    font-weight: 500;
}