@import "../../../../styles/_colors.scss";

.alert {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0px;
    top: 5px;
    left: 20%;
    right: 20%;
    padding: 10px;
    color: white;
    align-items: center;
    z-index: 5000;

    svg {
        margin-right: 15px;
    }

    p {
        margin: 0px;
        font-size: 14px;
    }
}